.spell-bar .nav-link.active {
  color: gold !important;
  border-color: rgba(255,255,255,0) !important;
}

.spell-bar .nav-link {
  color: grey !important;
}

body {
  scrollbar-width: auto;
  scrollbar-color: #3d3d3d black;
}

