a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  background: rgba(13,202,240,0);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #78786F;
  background: #E1E1DF;
}

