#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #78786F;
  background: #E1E1DF;
}

h1 {
}

.tooltip {
  --bs-tooltip-bg: black;
  --bs-tooltip-color: white;
}

.tooltip .tooltip-arrow::before {
  border-top-color: black;
}

