#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #78786F;
  background: #E1E1DF;
}

h1 {
}

.tooltip {
  --bs-tooltip-bg: black;
  --bs-tooltip-color: white;
}

.tooltip .tooltip-arrow::before {
  border-top-color: black;
}

.spell-bar .nav-link.active {
  color: gold !important;
}

.spell-bar .nav-link {
  color: grey !important;
}

body {
  scrollbar-width: auto;
  scrollbar-color: #3d3d3d black;
}

