.p-5 {
  padding: 3rem!important;
}

.px-5 {
  padding-right: 3rem!important;
  padding-left: 3rem!important;
}

.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}

@media (min-width: 1200px) {
  .px-xl-10 {
    padding-left: 10.5rem !important;
    padding-right: 10.5rem !important;
  }
}

@media (min-width: 1400px) {
  .px-xxl-10 {
    padding-left: 10.5rem !important;
    padding-right: 10.5rem !important;
  }
}

