.p-3 {
  padding: 1rem!important;
}

.p-5 {
  padding: 3rem!important;
}

.px-5 {
  padding-right: 3rem!important;
  padding-left: 3rem!important;
}

.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}

.pt-5 {
  padding-top: 3rem!important;
}

@media (min-width:576px) {
  .px-sm-5 {
    padding-right: 3rem!important;
    padding-left: 3rem!important;
  }
}

@media (min-width:576px) {
  .pt-sm-0 {
    padding-top: 0!important;
  }
}

@media (min-width:768px) {
  .pt-md-0 {
    padding-top: 0!important;
  }
}

@media (min-width:992px) {
  .px-lg-5 {
    padding-right: 3rem!important;
    padding-left: 3rem!important;
  }
}

@media (min-width: 992px) {
  .px-lg-10 {
    padding-left: 10.5rem !important;
    padding-right: 10.5rem !important;
  }
}

@media (min-width:992px) {
  .pt-lg-0 {
    padding-top: 0!important;
  }
}

@media (min-width: 1200px) {
  .px-xl-10 {
    padding-left: 10.5rem !important;
    padding-right: 10.5rem !important;
  }
}

@media (min-width:1200px) {
  .pt-xl-0 {
    padding-top: 0!important;
  }
}

@media (min-width: 1400px) {
  .px-xxl-10 {
    padding-left: 10.5rem !important;
    padding-right: 10.5rem !important;
  }
}

@media (min-width:1400px) {
  .pt-xxl-0 {
    padding-top: 0!important;
  }
}

