.horizontal-accordion {
  height: 600px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: 20px;
}

.horizontal-accordion .card {
  height: 100%;
  width: 130px;
  display: flex;
  background-position: center center;
  background-size: cover;
  flex-direction: row;
  transition: all 0.3s ease;
}

.horizontal-accordion .card.expanded {
  width: 100%;
}

.horizontal-accordion .card.expanded .card-body .card-text {
  width: auto;
  opacity: 1;
  transition-delay: 0.3s;
  background: rgba(0,0,0,0.6);
  padding: 2rem;
}

.horizontal-accordion .card.expanded .card-body {
  width: 100%;
  padding: 40px;
  pointer-events: all;
  overflow: hidden;
}

.horizontal-accordion .card.expanded .card-header h5 {
  transform: rotate(0);
  left: 40px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.horizontal-accordion .card.expanded .card-header:before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(169, 169, 169, 0.8);
}

.horizontal-accordion .card.expanded .card-header {
  width: 0;
  padding: 0;
}

.horizontal-accordion .card .card-header {
  position: relative;
  height: 100%;
  cursor: pointer;
  background-position: center center;
  background-size: cover;
  width: 130px;
}

.horizontal-accordion .card .card-header:before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.horizontal-accordion .card .card-header h5 {
  position: absolute;
  top: 15px;
  transform: rotate(90deg);
  left: 41%;
  white-space: nowrap;
  transform-origin: 5% 50%;
  transition: all 0.3s ease;
}

.horizontal-accordion .card .card-header h5::after {
  content: attr(data-title);
  transition: all 0.3s ease;
}

.horizontal-accordion .card .card-body {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  width: 0px;
  padding: 0;
  pointer-events: none;
}

.horizontal-accordion .card .card-text {
  opacity: 0;
  flex: 0;
  transition: opacity 0.3s ease;
  line-height: 33px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif';
}

