body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  background: rgba(13,202,240,0);
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #78786F;
  background: #E1E1DF;
}

