.navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px 15px;
  background: rgba(255,255,255,0);
}

.btn:not(:disabled):not(.disabled) {
  transition: all .3s;
  box-shadow: none;
  border-width: 0px;
  border-radius: 5px;
  font-weight: 700;
  background: var(--bs-indigo);
}

.btn:not(:disabled):not(.disabled):hover {
  transition: all .3s;
  background: var(--bs-indigo);
}

